.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.main-contents {
  width: 1200px;
  padding-left: 48px;
  padding-right: 48px;
}

.title {
  border-left: solid #D5C9BB 4px;
  padding-left: 8px;
  font-size: 24px;
}

.order-contents {
  justify-content: space-between;
  align-items: center;
  border-top: solid #12121233 1px;
  padding-top: 16px;
  margin-bottom: 48px;
}

.order-id {
  font-size: 18px;
  font-weight: 700;
}

