.header {
  height: 64px;
  border-bottom: solid rgba(18, 18, 18, 0.08) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-left: 48px;
  padding-right: 48px;
}

.javajo-jewels {
  color: #D32D71;
  font-weight: 700;
  font-size: 24px;
}

.cart-icon {
  width: 24px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.main-contents {
  width: 1200px;
  padding-left: 48px;
  padding-right: 48px;
}

.title {
  border-left: solid #D5C9BB 4px;
  padding-left: 8px;
  font-size: 24px;
}

.products {
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 24px;
}

.product {
  width: 128px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-title {
  font-size: 14px;
}
