<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/complete.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="main">
    <div class="main-contents">
        <h1 class="title">注文完了</h1>

        <div class="order">
            注文ありがとうございました。またのお買い上げをお待ちしております。
            <div class="order-detail">
                <div>
                    注文番号：<span th:text="${order.orderId}"></span>
                </div>
                <div>
                    注文日時：<span th:text="${order.orderDate}"></span>
                </div>
                <div>
                    合計： <span th:text="|¥${#numbers.formatInteger(order.amount, 3, 'COMMA')}|"></span>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
