<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/product-detail.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="main">
    <div class="main-contents">
        <div class="product">
            <img th:src="@{${product.imageUrl}}" class="product-image"/>
            <div class="product-detail">
                <div th:text="${product.name}" class="product-title"></div>
                <div th:text="|¥${#numbers.formatInteger(product.price, 3, 'COMMA')}|" class="product-price"></div>

                <form th:action="@{/cart}" th:method="post">
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <button type="submit" class="add-cart-button">カートに追加する</button>
                </form>

                <div th:text="${product.description}" class="product-description"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
